@import "./common/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: $primary-color;
}

a {
  text-decoration: none;
  color: $logo-color;
}

.container {
  margin: 0 40px;
}
