/* Color Palette: https://colorhunt.co/palette/3038413a4750f6c90eeeeeee */

$primary-color: #303841;
$secondary-color: #3a4750;
$font-primary: #eeeeee;
$font-secondary: #f6c90e;
$logo-color: #f6c90e;
